/.gradle/
/.idea/
/.DS_Store
/*.iml
/.idea/
/local.properties
/build/
**/.DS_Store
/gradle/.DS_Store
/app/build/
/app/*.iml
/app/.DS_Store
/app/libs/.DS_Store
/app/src/main/.DS_Store
/dep/.DS_Store
/dep/jni/.DS_Store
/dep/jni/jni/
/dep/jni/build/
/dep/jni/*.iml
/dep/**/build/
/dep/*.iml
/dep/**/.DS_Store
/dep/**/libs/.DS_Store
/dep/**/main/.DS_Store
/dep/**/.externalNativeBuild/
/dep/**/*.iml